body {
  background: #fff url("Images/t1095-notebook16p.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  font-family: 'Bradley Hand', Noteworthy, cursive;
  overflow: hidden; /*HIDES THE SCROLLBAR*/
}

h1 {
  margin: 72px 0 0 20%;
}

.date {
  margin: 6px 0 0 80%;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
}

ul li {
  margin: 23.5px 0-26px 0;
}

#students {
  cursor: pointer;
  list-style: none;
  font-size: 28px;
  margin: -34px 0 16px 10%;
}

#students .present {
  text-decoration:line-through;
  color: #ff0000;
}

.foot {
  margin: 30px 0 0 15%;
}

#Input, #new, #erase {
  background-color: rgba(0, 0, 0, 0);
}

#new, #erase {
  cursor: pointer;
}

#alert {
  color: #ff0000;
}
